{% extends 'blog/base.html' %}
{% load static %}
{% load socialaccount %}
{% block title%}
Login
{% endblock%}

{% block css_script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!----<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/validacion_login.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/inicioSesion.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/ventanasEmerge.css' %}" />

{% endblock %}

{% block content %}
<div class="col-12">
    {% if error %}
    <div class="alert warning">
        <span class="closebtn">&times;</span>
        <strong>Error!</strong> {{error}}
    </div>
    {% endif %}
</div>

<form id="login" method="post">
    {% csrf_token %}

    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-auto">
                <h1>Inicio Sesión</h1>
            </div>
        </div>

            <div class="row justify-content-center">

                <div class="col-4 ">

                    <div class="form-group">
                        <label for="username">Usuario:</label>
                        <input name="username" type="text" class="form-control usuario" id="username" placeholder="Ingrese Rut"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña:</label>
                        <input name="password" type="password" class="form-control contrasenna" id="password" minlength="4"
                            placeholder="Ingrese Contraseña" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-primary btn-block" href='{% provider_login_url "facebook" method="oauth2" %}'>
                                <span class="fab fa-facebook"></span>
                                    Login with facebook
                                </a>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="btn btn-primary" name="next" value="{{next}}">
                    </div>
                    <div class="form-group">
                        <input type="button" class="form-control btn btn-success" onclick="location.href = '/accounts/password_reset/'" value="Recuperar Contraseña">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</form>
<script src="{% static 'js/mensajeEmergente.js' %}"></script>
{% endblock content %}