<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1 class="text-center">Su contraseña se reestablecio correctamente</h1>
    <p class="text-center"><a href="{% url 'blog:IniciarSesion' %}">Iniciar Sesion</a></p>
</body>
</html>