<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    <p>Recuperar contraseña</p>
    <form method = "POST">
        {% csrf_token %}
        <label for="id_email">Correo:</label>{{ form.email}}
        <input type="submit" value = "Enviar"/>


    </form>
</body>
</html>