<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    {% if validlink %}
        <form method='POST' action="">
            {% csrf_token %}
            {{ form.new_password1.errors}}
            <label for="id_new_password1">Nueva Contraseña:</label>
            {{form.new_password1}}
            {{form.new_password2.errors}}
            <label for="id_new_password2">Confirme contraseña:</label>
            {{form.new_password2}}
            <input type="submit" value="Cambiar mi contraseña"/>





        </form>

    {% else %}
        <h1 class="text-center" >ENLACE INVALIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>
    {% endif %}
</body>
</html>