<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login-Mis Perris</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
    <script src="{% static 'js/validacion_login.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/inicioSesion.css' %}" />

</head>

<body>

    

    <div class="col-12">
        {% if context %}
            <div class="alert warning">
                <span class="closebtn">&times;</span>  
                <strong>Error!</strong> {{context}}
            </div>
        {% endif %}
    </div>

    <form id="login" method="post">
        {% csrf_token %}

        <div class="container-fluid">

            <div class="row ajusteLogin">
                <div class="col-12">
                    <h1>Inicio de sesion</h1>

                </div>

                <div class="row justify-content-center">

                    <div class="col-12 ">

                        <div class="form-group">
                            <label for="username">Usuario:</label>
                            <input name="username" type="text" class="form-control usuario" id="username" placeholder="IngreseRut" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña:</label>
                            <input name="password" type="password" class="form-control contrasenna" id="password" minlength="4" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="btn btn-primary" name="next" value="{{next}}">
                        </div>

                    </div>
                </div>

            </div>


        </div>



    </form>





</body>

</html>