*{
	margin:0;
	padding:0;
}

/* Estilos generales*/
.limpiar{
	margin:0;
	padding:0;
}
a{
	color:white;
}
a:hover{
	color:white;
}
a:link{
	text-decoration: none;
}

/* Estilos del Header*/
header{background-color:#85D4B7;}

#logoPerro{
	padding-left:2%;
	padding-top:2%;
	margin-bottom:2%
}

		/* Estilos para el NAV*/
.ajusteLink{
	padding-top:4%;
}

		/* Estilos del carrusel */
#demo{
	width:100%;
	height: 400px;
}
.colores{
	color:black;
	text-align: left;
}
.imagenAjusteCarrosel{height: 400px;}

#sociales {
	padding: 20px 0;
}
#sociales p {
	color: #fff;
}
#sociales img{
	width: 40px;
}

/* Estilos del contenido*/
#contenido{background-color: white;}

#contenido h1 {
	color: #000;
}
#contenido h4 {
	color: #b9bab9;
}
#contenido hr{
	width: 50px;
	border: 1px solid #656565;
	display: inline-block;
}
#contenido p{
	color: #8b8885;
}
#contenido img{
	width: 70%;
}
#articulo1{
	text-align: right;
}
article{
	padding: 10px 0;
}


.botonCampanna{
	text-decoration: none;
	border: 2px solid black;
	padding: 5px;
	color:black;
}
/**/
#collage{
	background-color:#85D4B7;
	margin-top: 30px;
}
.fila8{padding-top: 2%;}

/*Imagenes del collage*/
.ajusteImagen{padding-bottom:5px;}
.almedio{padding-left:20%;}
.columna{padding-left: 3%;}

/* Estilo del footer*/
footer{
	padding-left: 30px;
	background: #e6e6e6;
	height: 100px;
}
footer h5{
	color: #4d5563;
}

@media(max-width:764px){
	.ajusteLink{
		padding-top:4%;
		text-align: center;
		background-color: #6DCCAA;
		padding-bottom: 4%;
		margin-bottom: 6px;
	}
	#logoPerro{
		margin:auto;
		display: block;
		padding-bottom: 15px;
	}
	.medida{width:25%;
	}
	.fila8{margin-left: 2%;}
	.medida2{width:33%
	}
	.almedio{padding-left: 15%;}
	#perro1{padding-bottom: 4%;}
	#perro2{padding-bottom: 4%;}
	#perro3{padding-bottom: 4%;}
	#perro4{width: 100%;}
	#perro5{width:100%;}
	
	#perro7{width:100%;}

	.colorTexto{color:white;
	text-align: center;}

	#sociales img{
		width: 50px;
	}
}