#menu_admin{
    padding: 50px 0;
    height: 50vh;
}
body{
    background-color: #85D4B7;
}
h1{
    padding: 20px 0;
    color: #fff;
}
h6{
    color: #fff;
}
.boton{
    margin: 10px 0;
}

.imagenAjuste{
    width: 10%;
}