{% extends 'blog/base.html' %}
{% load static %}

{% block title%}
Formulario Registro
{% endblock%}

{% block css_script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!----<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/validacion_agregarMascota.js' %}"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/menu_admin.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/agregarMascota.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/ventanasEmerge.css' %}" />
{% endblock %}


{% block content %}
<div id="datos_user" class="row justify-content-center">
    <div class="col-4">
        <h1>Agregar Mascota</h1>
    </div>
</div>

<div class="container">
    <div class="col-12">
        {% if mensaje %}
        <div class="alert success">
            <span class="closebtn">&times;</span>
            <strong>Exito!</strong> {{mensaje}}
        </div>
        {% endif %}
    </div>
    <div class="col-12">
        {% if error %}
        <div class="alert warning">
            <span class="closebtn">&times;</span>
            <strong>Error!</strong> {{error}}
        </div>

        {% endif %}
    </div>
</div>

<form id="menu_agregarMascota" method='post' id="agregarPerro" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row justify-content-center">
        <div class="col-6">
            <div class="form-group">
                <label for="file">Fotografia:</label>
                <input type="file" name="file" required>

            </div>

            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input name="nombre" type="text" class="form-control " id="nombre" placeholder="" required>
            </div>

            <div class="form-group">
                <label for="raza">Raza Predominante:</label>
                <input name="raza" type="text" class="form-control" id="raza" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <input name="descripcion" type="text" class="form-control" id="descripcion" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="estado">Estado</label>
                <select name="estado" class="form-control" id="estado" required>
                    <option selected>Seleccione</option>
                    <option>Disponible</option>
                    <option>Rescatado</option>
                    <option>Adoptado</option>

                </select>
            </div>
            <button id="btn_campana" type="submit" class="btn btn-primary">Enviar</button>
        </div>

    </div>
</form>

<script src="{% static 'js/mensajeEmergente.js' %}"></script>

</div>

{% endblock content %}