{% extends 'blog/base.html' %}
{% load static %}

{% block title%}
Listar Mascotas
{% endblock%}

{% block css_script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!----<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/validacion_agregarMascota.js' %}"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/menu_admin.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/ventanasEmerge.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/listar_mascota.css' %}" />
{% endblock %}


{% block content %}

<div class="container">

    <div id="datos_user" class="row justify-content-center">
        <div class="col-4">
            <h1>Listar Mascota</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {% if messages %}

            {% for m in messages %}
            <div class="alert success">
                <span class="closebtn">&times;</span>
                <strong>Exito!</strong> {{m}}
            </div>
            {% endfor %}

            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>Filtrado Por:</h4>
        </div>
    </div>

    <div id="filtros" class="row">
        <div class="btn_filtro col-12 col-md-3 text-center">
            <a href="{% url 'blog:disponible' %}" class="btn btn btn-success btn-lg active" role="button" aria-pressed="true">Disponible</a>
        </div>
        <div class="btn_filtro col-12 col-md-3 text-center">
            <a href="{% url 'blog:rescatado' %}" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Rescatado</a>
        </div>
        <div class="btn_filtro col-12 col-md-3 text-center">
            <a href="{% url 'blog:adoptado' %}" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Adoptado</a>
        </div>

        <div class="btn_filtro col-12 col-md-3 text-center">
            <a href="{% url 'blog:todos' %}" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Todos</a>
        </div>
    </div>


    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Fotografia</th>
                <th scope="col">Nombre</th>
                <th scope="col">Raza</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Estado</th>
                <th scope="col">Eliminar</th>
                <th scope="col">Modificar</th>
            </tr>
        </thead>
        <tbody>
            {% for m in mascotas %}
            <tr>
                <td><img src="{{ MEDIA_URL}}{{ m.file}}" alt=""></a></td>
                <td>{{ m.nombrePerro }}</td>
                <td>{{ m.razaPredominante }}</td>
                <td>{{ m.descripcion}}</td>
                <td>{{ m.estado}}</td>
                <td>
                    <a href="{% url 'blog:eliminarPerro' m.id %}" class="btn btn-danger btn-sm active" role="button"
                        aria-pressed="true">Eliminar</a>
                </td>
                <td>
                    <a href="{% url 'blog:modificarPerro' m.id %}" class="btn btn-light btn-sm active" role="button"
                    aria-pressed="true">Modificar</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</div>


<script src="{% static 'js/mensajeEmergente.js' %}"></script>


{% endblock content %}