{% extends 'blog/base.html' %}
{% load static %}

{% block title%}
Formulario Registro
{% endblock%}

{% block css_script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!----<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/validacion_agregarMascota.js' %}"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/menu_admin.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/agregarMascota.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/ventanasEmerge.css' %}" />
{% endblock %}


{% block content %}
<div id="datos_user" class="row justify-content-center">
    <div class="col-4">
        <h1>Modificar Mascota</h1>
    </div>
</div>


<form method='post' id="modificarPerro" enctype="multipart/form-data" >
    {% csrf_token %}
<div class="row justify-content-center">
    <div class="col-6">
            <input type="hidden" name="txtId" id="txtId" value = "{{ mascota.id}}"> 
            <div class="form-group">
                <label for="file">Fotografia:</label>
                <input type="file" name="file" value="{{mascota.file}}" required>
                
            </div>

            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input name="nombre" type="text" class="form-control " id="nombre" value="{{ mascota.nombrePerro}}" placeholder="" required>
            </div>

            <div class="form-group">
                <label for="raza">Raza Predominante:</label>
                <input name="raza" type="text" class="form-control" id="raza" value="{{ mascota.razaPredominante}}" placeholder="" required>                                
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <input name="descripcion" type="text" class="form-control" id="descripcion" value="{{ mascota.descripcion}}" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="estado">Estado</label>
                <select name="estado" class="form-control" id="estado" required>
                    
                    <option>Seleccione</option>
                    <option {% if mascota.estado == "Disponible"%}
                    {{'selected'}}
                    {% endif 
                        %} 
                    >Disponibled</option>
                    <option
                    {% if mascota.estado == "Rescatado"%}
                    {{'selected'}}
                    {% endif%}>Rescatado</option>
                    <option
                    {% if mascota.estado == "Adoptado"%}
                    {{'selected'}}
                    {% endif%}>Adoptado</option>
                    
                </select>
            </div>
            

            

        

            <button id="btn_campana" type="submit" class="btn btn-primary">Modificar</button>
    </div>

</div>
</form>    

<script src="{% static 'js/mensajeEmergente.js' %}"></script>

</div>

{% endblock content %}