<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />  
    <link rel="stylesheet" href="{% static 'css/ventanasEmerge.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Agregar Perro</h1>
            </div>
            <div class="col-12">
                {% if mensaje %}
                
                    
                    <div class="alert success">
                        <span class="closebtn">&times;</span>  
                        <strong>Exito!</strong> {{mensaje}}
                    </div>
                {% endif %}
            </div>
            <div class="col-12">
                {% if error %}
                
                    
                    <div class="alert warning">
                        <span class="closebtn">&times;</span>  
                        <strong>Error!</strong> {{error}}
                    </div>
         
                {% endif %}
            </div>
        </div>
        <form method='post' id="agregarPerro" enctype="multipart/form-data" >
                {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-6">
                    
                        <div class="form-group">
                            <label for="file">Fotografia:</label>
                            <input type="file" name="file">
                            
                        </div>

                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input name="nombre" type="text" class="form-control " id="nombre" placeholder="" required>
                        </div>

                        <div class="form-group">
                            <label for="raza">Raza Predominante:</label>
                            <input name="raza" type="text" class="form-control" id="raza" placeholder="" required>                                
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción:</label>
                            <input name="descripcion" type="text" class="form-control" id="descripcion" placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select name="estado" class="form-control" id="estado" required>
                                <option selected>Seleccione</option>
                                <option>Disponible</option>
                                <option>Rescatado</option>
                                <option>Adoptado</option>
                                
                            </select>
                        </div>
                        

                        

                    

                        <button id="btn_campana" type="submit" class="btn btn-primary">Enviar</button>
                </div>
        
            </div>
        </form>    
    </div>


    <script src="{% static 'js/mensajeEmergente.js' %}"></script>
</body>
</html>