<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />  
    <link rel="stylesheet" href="{% static 'css/ventanasEmerge.css' %}">
</head>
<body>
    <h1>Listar Perro</h1>
    
    {% if mensaje %}
        <div class="alert success">
            <span class="closebtn">&times;</span>  
            <strong>Exito!</strong> {{mensaje}}
        </div>
    {% endif %}
    {% if error %}
    
            <div class="alert warning">
                <span class="closebtn">&times;</span>  
                <strong>Error!</strong> {{error}}
            </div>
        
    {% endif %}
    
    <table>
        <tr>
            <th>Fotografia</th>
            <th>Nombre</th>
            <th>Raza</th>
            <th>Descripcion</th>
            <th>Estado</th>

        </tr>
        {% for m in mascotas %}
            <tr>
                <td><a href="">{{ m.file}}</a></td>
                <td>{{ m.nombrePerro }}</td>
                <td>{{ m.razaPredominante }}</td>
                <td>{{ m.descripcion}}</td>
                <td>{{ m.estado}}</td>
                <td><a href="{% url 'blog:eliminarPerro' m.id %}">Eliminar</a></td>
                <td><a href="">Modificar</a></td>
                
            </tr>
                
        {% endfor %}
    </table>

    <a href="{% url 'blog:mantenedorIndex' %}">Atrás</a>
    
    <script src="{% static 'js/mensajeEmergente.js' %}"></script>
</body>
</html>