{% extends 'blog/base.html' %}
{% load static %}

{% block title%}
Solicitud De adopcion
{% endblock%}

{% block css_script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!----<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/rut.js' %}"></script>
<script src="{% static 'js/cargar_regionComuna2.js' %}"></script>
<script src="{% static 'js/validacion_form.js' %}"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/formulario.css' %}" />
{% endblock %}


{% block content %}

<div class="row justify-content-center">
    
</div>
<form method='post' id="formulario">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-6">

            
                
                <input name="user_name" type="hidden" class="form-control" id="email">
                <input name="nombreMascota" type="hidden" class="form-control" id="email" >
                <input name="id_Mascota" type="hidden" class="form-control" id="email" >
                
                <h1>¡Solicitud enviada!</h1>
                <h3>Nos contactaremos contigo mediante email. Esperamos encontrar un hogar a los perritos!</h3>
            
            

            
        </div>

    </div>
</form>

{% endblock content %}