{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Page Title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebaseapp.js"></script> 
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebasemessaging.js"></script>
    

    {% block css_script %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    

</head>

<body>
    <header>
        <!-- menu -->
        <div class="row  limpiar">
            <div id="logo" class="col-md-6 limpiar ">
                <img id="logoPerro" src="{% static 'img/logo.png' %}" alt="logo">
            </div>
            <div class="col-md-6  limpiar">
                <nav class="row limpiar">
                    <div class="col-xs-12 col-md-auto ajusteLink">
                        
                        <a href="{% url 'blog:index' %}" >
                            Inicio
                        </a>
                        
                        
                    </div>
                   
                    <div class="col-xs-12 col-md-auto ajusteLink">
                        <a href="#">Quienes Somos</a>
                    </div>
                    <div class="col-xs-12 col-md-auto  ajusteLink">
                        <a href="#">Servicios</a>
                    </div>
                    <div class="col-xs-12 col-md-auto ajusteLink">
                        {% if nombre %}
                            
                        {% else %}
                            <a href="{% url 'blog:formulario' %}">Registro de usuario</a>
                        {% endif %}
                        
                    </div>
                    <div class="col-xs-12 col-md-auto ajusteLink">

                        {% if nombre%}
                            
                            <a href="{% url 'blog:usuario_success' %}">Usuario: {{nombre}} {{apellidoPaterno}}</a>
                        {% else %}
                             <a href="{% url 'blog:inicioSesion' %}">Inicio Sesión</a>

                        {% endif %}
                        
                    </div>

                </nav>
            </div>
        </div>
    </header>

    <section>
        

        {% block content%}

        {% block datosuser %}
        {% endblock %}
        
        {% endblock%}

    </section>

    {% block footer%}
    <!-- PIE DE PAGINA-->
    <footer>
        <h5>Desarrollo web y movil</h5>
        <p>
            <a href="http://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="¡CSS Válido!" />
            </a>
        </p>
    </footer>
    {% endblock%}

    
    
</body>

</html>