{% extends 'blog/base.html' %}
{% load static %}

{% block title%}
Formulario Registro
{% endblock%}

{% block css_script %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/rut.js' %}"></script>
<script src="{% static 'js/cargar_regionComuna2.js' %}"></script>
<script src="{% static 'js/validacion_form.js' %}"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/formulario.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/ventanasEmerge.css' %}" />
<script src="http://malsup.github.io/jquery.form.js"></script>
<script src="{% static 'js/configurarionForm.js' %}"></script>
<script src="{% static 'js/emer.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){

        $("#formulario2").ajaxForm({

            success: function(e){
                $("#das").show();
               
            },
            error: function(e){
                alert("hola")
            }
            
            
           

        });



    });


</script>

{% endblock %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-auto">
        <h1>Registro Usuario</h1>
    </div>
</div>

<div class="container">
        <div class="col-12">
        
                    <div id="das" class="alert success">
                        <span class="closebtn">&times;</span>
                        <strong>Exito!</strong> Se guardo exitosamente
                    </div>
                    
    
        </div>
</div>

<form method='post' id="formulario2" action="/api/formularioUserPerris/">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-6">
            
            <input type="hidden" name="email" id="email" value="{{email}}">
            <input type="hidden" name="password_1" id="password_1" value="{{password}}">
            <input type="hidden" name="tipo" id="tipo" value="{{tipo}}">
            <input name="rut" type="hidden" class="form-control rut" id="rut" value="http://127.0.0.1:8000/api/user/{{idUsuario}}/" >
            

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Jose"
                    required>
            </div>
            <div class="form-group">
                <label for="segundoNombre">Segundo Nombre</label>
                <input name="segundoNombre" type="text" class="form-control" id="segundoNombre" placeholder="Miguel"
                    required>
            </div>
            <div class="form-group">
                <label for="apellidoPaterno">Apellido Paterno</label>
                <input name="apellidoPaterno" type="text" class="form-control" id="apellidoPaterno" placeholder="Jose Miguel Gonzalez Perez"
                    required>
            </div>
            <div class="form-group">
                <label for="apellidoMaterno">Apellido Materno</label>
                <input name="apellidoMaterno" type="text" class="form-control" id="apellidoMaterno" placeholder="Jose Miguel Gonzalez Perez"
                    required>
            </div>

            <div class="form-group">
                <label for="fch_nac">Fecha de Nacimiento</label>
                <input name="fechaNacimiento" type="date" class="form-control" id="fch_nac" max="2000-12-31" required>
            </div>

            <div class="form-group">
                <label for="fono">Fono</label>
                <input name="fono" type="tel" class="form-control" id="fono" placeholder="123456789" required>
            </div>

            <div class="form-group">
                <label for="region">Región</label>
                <select name="region" class="form-control" id="region" required>

                </select>
            </div>

            <div class="form-group">
                <label for="comuna">Comuna</label>
                <select name="comuna" class="form-control" id="comuna" required>
                </select>
            </div>

            <div class="form-group">
                <label for="vivienda">Tipo de Vivienda</label>
                <select name="tipoCasa" class="form-control" id="vivienda" required>
                    <option value="0" selected>Seleccione</option>
                    <option value="1">Casa con patio grande</option>
                    <option value="2">Casa con patio pequeño</option>
                    <option value="3">Casa sin patio</option>
                    <option value="4">Departamento</option>
                </select>
            </div>

            <button id="btn_campana" type="submit" class="btn btn-primary">Enviar</button>
        </div>

    </div>
</form>
<script src="{% static 'js/mensajeEmergente.js' %}"></script>


{% endblock content %}