{% extends 'blog/base.html' %}
{% load static %}

{% block title%}
Formulario Registro
{% endblock%}

{% block css_script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!----<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/rut.js' %}"></script>
<script src="{% static 'js/cargar_regionComuna2.js' %}"></script>
<script src="{% static 'js/validacion_form.js' %}"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/formulario.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/ventanasEmerge.css' %}" />
<script src="http://malsup.github.io/jquery.form.js"></script>
<script src="{% static 'js/configurarionForm.js' %}"></script>

{% endblock %}


{% block content %}

<div class="row justify-content-center">
    <div class="col-auto">
        <h1>Registro Usuario</h1>
    </div>
</div>
<div class="container">
    <div class="col-12">
        {% if messages %}
            
            {% for m in messages %}
                
                <div class="alert success">
                    <span class="closebtn">&times;</span>
                    <strong>Exito!</strong> {{m}}
                </div>
                

                
                
            {% endfor %}
                
        {% endif %}
    </div>
    
</div>

<form method="post" id="formulario1" >
    {% csrf_token %}
    <div class="row justify-content-center">
       
       
        <div class="col-6">
            <div class="form-group">
                <label for="username">Rut:</label>
                <input name="username" type="username" class="form-control" id="username" required>                
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input name="email" type="email" class="form-control" id="email" required>                
            </div>

            <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input name="password" type="password" class="form-control" id="password" minlength="4" required>
                </div>
    
            <input type="hidden" id="validador" name="validador" >
    
            <div class="form-group">
                <label for="pw2">Repetir Contraseña</label>
                <input name="pw2" type="password" class="form-control" id="pw2" minlength="4" required>
            </div>
            <div class="form-group">
                <button id="botom1" name="botom1" type="submit" class="btn btn-primary">Enviar</button>
            </div>

            
        </div>
    
    </div>
</form>


<script src="{% static 'js/mensajeEmergente.js' %}"></script>


{% endblock content %}