{% extends 'blog/base.html' %}
{% load static %}
{% block title%}
Index
{% endblock%}

{% block css_script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!----<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/acercarImagenes.css' %}" />
{% endblock %}

{% block content %}

<body>
	<div class="container-fluid limpiar">

		<!-- CABECERA -->
		<header>
			<div class="row container-fluid limpiar">
				<div id="demo" class="carousel slide" data-ride="carousel">

					<!-- Indicators -->
					<ul class="carousel-indicators">
						<li data-target="#demo" data-slide-to="0" class="active"></li>
						<li data-target="#demo" data-slide-to="1"></li>
						<li data-target="#demo" data-slide-to="2"></li>
					</ul>

					<!-- The slideshow -->
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="d-block w-100 imagenAjusteCarrosel" src="{% static 'imagenes/adoptados/Apolo.jpg' %}" alt="Perro Apolo"
							 style="width:100%">
							<div class="carousel-caption">
								<p class="colores">"Estamos felices de tener a Tom en casa.<br> Es un super fiel compañero."</p>
							</div>
						</div>
						<div class="carousel-item">
							<img class="d-block w-100 imagenAjusteCarrosel" src="{% static 'imagenes/adoptados/Duque.jpg' %}" alt="Perro Duque"
							 style="width:100%">
							<div class="carousel-caption">

								<p class="colores">"Estamos felices"</p>
							</div>
						</div>
						<div class="carousel-item">
							<img class="d-block w-100 imagenAjusteCarrosel" id="hrr" src="{% static 'imagenes/adoptados/Tom.jpg' %}" alt="Perro Tom"
							 style="width:100%">
							<div class="carousel-caption">

								<p class="colores">"Estamos felices"</p>
							</div>
						</div>
					</div>
					<!-- Left and right controls -->
					<a class="carousel-control-prev" href="#demo" data-slide="prev">
						<span class="carousel-control-prev-icon"></span>
					</a>
					<a class="carousel-control-next" href="#demo" data-slide="next">
						<span class="carousel-control-next-icon"></span>
					</a>
				</div>
			</div>

			<div id="sociales" class="row limpiar">
				<div class="col-md-4 d-none d-md-block">
					<p>{{idUsuario}}</p>
				</div>
				<div class="col-md-4 d-none d-md-block text-center">
					<p>Rescate y adopción de perros callejeros</p>
				</div>
				<div class="col-md-4">
					<div class="row limpiar">
						
						<div class="medida col-md-auto">
							<a href="#"><img src="{% static 'img/facebook.png' %}" alt="logo facebook"></a>
						</div>
						<div class="medida  col-md-auto">
							<img src="{% static 'img/google.png' %}" alt="logo google">
						</div>
						<div class="medida col-md-auto">
							<img src="{% static 'img/instagram.png' %}" alt="logo instagram">
						</div>
						<div class="medida  col-md-auto">
							<img src="{% static 'img/mail.png' %}" alt="logo mail">
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- CONTENIDO -->
		<section id="contenido" class="row limpiar">
			<article id="articulo1" class="col-12 col-md-6">
				<h1>RESCATE</h1>
				<h4>ETAPA UNO</h4>
				<hr>
				<p>Recatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los preparamos para buscar un hogar.</p>
				<div>
					<img src="{% static 'img/rescate.jpg' %}" alt="rescatados">
				</div>
			</article>

			<article id="acticulo2" class="col-12 col-md-6">
				<div>
					<img src="{% static 'img/crowfunding.jpg' %}" alt="crowfunding">
				</div>
				<h1>CROWDFUNDING</h1>
				<h4>FINANCIAMIENTO</h4>
				<hr>
				<p>Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que realizamos para
					obtener un financiamiento y poder seguir ayudando.</p>
				<a class="botonCampanna" href="#">CAMPAÑAS</a>
			</article>
		</section>
		
		<!-- COLLAGE 1 -->
		<div id="collage" class="row">
			<div class="col-12">
					<h1 style="text-align:center;color: black;" >Galeria de Perritos</h1>
					{% if errorSolicitud %}
						{{errorSolicitud}}
					{% else %}
					{% endif%}
			</div>
			<div class="col-12">
					<div class="medida col-md-auto">
							<h3>Filtrado por:</h3>
						</div>
				<a href="{% url 'blog:filtroDisponibleIndex' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Disponible</a>
				<a href="{% url 'blog:filtroRescatadoIndex' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Rescatado</a>
				<a href="{% url 'blog:filtroAdoptadoIndex' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Adoptados</a>
			</div>
				
				
			{% if mascotas %}
			{% for m in mascotas %}
			<div class="col-12 col-md-4">

				<div class="card border-dark mb-3" style="max-width: 25rem;">
					<div class="card-header">Mascota: {{m.nombrePerro}}</div>
					<div class="card-body text-dark text-center">
						<h5 class="card-title">Raza: {{m.razaPredominante}}</h5>
						<p class="card-text"><img class="zoom" src="{{ MEDIA_URL}}{{m.file}}" alt=""></p>
						<p class="card-text">Descripción: {{m.descripcion}}</p>
					</div>
					<div class="card-footer bg-transparent border-success text-center">
						{% if m.estado == "Disponible"%}
							{% if nombre != "" %}
								<a class="btn btn-success btn-sm" href="{% url 'blog:validador2' m.id %}">Adoptalo ahora!</a>
							{% else %}
								<p>Inicia Sesion para adoptar</p>
							{% endif%}
							
						{% else%}
						<p>Estado: {{m.estado}}</p>
						{% endif%}
					</div>

				</div>

			</div>
			{% endfor %}
			{% endif%}

			{% if disponibles %}
			{% for m in disponibles %}
			<div class="col-12 col-md-4">

				<div class="card border-dark mb-3" style="max-width: 25rem;">
					<div class="card-header">Mascota: {{m.nombrePerro}}</div>
					<div class="card-body text-dark text-center">
						<h5 class="card-title">Raza: {{m.razaPredominante}}</h5>
						<p class="card-text"><img class="zoom" src="{{ MEDIA_URL}}{{m.file}}" alt=""></p>
						<p class="card-text">Descripción: {{m.descripcion}}</p>
					</div>
					<div class="card-footer bg-transparent border-success text-center">
						{% if m.estado == "Disponible"%}
							{% if nombre != "" %}
								<a class="btn btn-success btn-sm" href="{% url 'blog:validador2' m.id %}">Adoptalo ahora!</a>
							{% else %}
								<p>Inicia Sesion para adoptar</p>
							{% endif%}
							
						{% else%}
						<p>Estado: {{m.estado}}</p>
						{% endif%}
					</div>

				</div>

			</div>
			{% endfor %}
			{% endif%}

			
			{% if rescatados %}
			{% for m in rescatados %}
			<div class="col-12 col-md-4">

				<div class="card border-dark mb-3" style="max-width: 25rem;">
					<div class="card-header">Mascota: {{m.nombrePerro}}</div>
					<div class="card-body text-dark text-center">
						<h5 class="card-title">Raza: {{m.razaPredominante}}</h5>
						<p class="card-text"><img class="zoom" src="{{ MEDIA_URL}}{{m.file}}" alt=""></p>
						<p class="card-text">Descripción: {{m.descripcion}}</p>
					</div>
					<div class="card-footer bg-transparent border-success text-center">
						{% if m.estado == "Disponible"%}
							{% if nombre != "" %}
								<a class="btn btn-success btn-sm" href="{% url 'blog:validador2' m.id %}">Adoptalo ahora!</a>
							{% else %}
								<p>Inicia Sesion para adoptar</p>
							{% endif%}
							
						{% else%}
						<p>Estado: {{m.estado}}</p>
						{% endif%}
					</div>

				</div>

			</div>
			{% endfor %}
			{% endif%}

			{% if adoptados %}
			{% for m in adoptados %}
			<div class="col-12 col-md-4">

				<div class="card border-dark mb-3" style="max-width: 25rem;">
					<div class="card-header">Mascota: {{m.nombrePerro}}</div>
					<div class="card-body text-dark text-center">
						<h5 class="card-title">Raza: {{m.razaPredominante}}</h5>
						<p class="card-text"><img class="zoom" src="{{ MEDIA_URL}}{{m.file}}" alt=""></p>
						<p class="card-text">Descripción: {{m.descripcion}}</p>
					</div>
					<div class="card-footer bg-transparent border-success text-center">
						{% if m.estado == "Disponible"%}
							{% if nombre != "" %}
								<a class="btn btn-success btn-sm" href="{% url 'blog:validador2' m.id %}">Adoptalo ahora!</a>
							{% else %}
								<p>Inicia Sesion para adoptar</p>
							{% endif%}
							
						{% else%}
						<p>Estado: {{m.estado}}</p>
						{% endif%}
					</div>

				</div>

			</div>
			{% endfor %}
			{% endif%}


			
		</div>
	</div>

	<script src="{% static 'js/acercarImagenes.js' %}"></script>
</body>
{% endblock content %}