{% extends 'blog/base.html' %}
{% load static %}

{% block title%}
Listar Mascotas
{% endblock%}

{% block css_script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!----<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/validacion_agregarMascota.js' %}"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/menu_admin.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/ventanasEmerge.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/vista_cliente.css' %}" />
{% endblock %}


{% block content %}

<div id="datos_user" class="row justify-content-center">
    <div class="col-4">
        <h1>Listar Mascota</h1>
    </div>
</div>

<div id="" class="container">
    <div class="col-12">
        {% if messages %}

        {% for m in messages %}
        <div class="alert success">
            <span class="closebtn">&times;</span>
            <strong>Exito!</strong> {{m}}
        </div>
        {% endfor %}

        {% endif %}
    </div>
    <div id="datos_user" class="row justify-content-center">
        <div class="col-4 text-center">
            <h6>Nombre usuario: {{ nombre}} {{ apellidoPaterno}}</h6>
        </div>
        <div class="col-4 text-center">
            <h6>Rut: {{ cuenta}}</h6>
        </div>
        <div class="col-4 text-center">
            <div class="col-xs-12">
                <form method='POST' action="cerrarSeccion">
                    {% csrf_token %}
                    <input class="btn btn-danger btn-sm active" type="submit" value="Logout">
                </form>
            </div>
        </div>
    </div>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Fotografia</th>
                <th scope="col">Nombre</th>
                <th scope="col">Raza</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Estado</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>
            {% for m in mascotas %}
            <tr>
                <td><img src="{{ MEDIA_URL}}{{ m.file}}" alt=""></td>
                <td>{{ m.nombrePerro }}</td>
                <td>{{ m.razaPredominante }}</td>
                <td>{{ m.descripcion}}</td>
                <td>{{ m.estado}}</td>

                <!---Como puedo comparar, ya que me da un error-->
                <td>
                    <a href="{% url 'blog:solicitudPerro' m.id %}" class="btn btn-success btn-sm active" role="button"
                        aria-pressed="true">Solicitar Adopción</a>
                </td>



            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>




<script src="{% static 'js/mensajeEmergente.js' %}"></script>

{% endblock content %}