{% extends 'blog/base.html' %}
{% load static %}

{% block title%}
Formulario Registro
{% endblock%}

{% block css_script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!----<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/menu_admin.css' %}" />
{% endblock %}



{% block content %}
<div id="datos_user" class="row justify-content-center">
    <div class="col-4">
        <h1>Menú Administrador</h1>
    </div>
</div>
{% block datosuser %}
<div class="row justify-content-center">
    <div class="col-4 text-center">
        <h6>Nombre usuario: {{ nombre}} {{ apellidoPaterno}}</h6>
    </div>
    <div class="col-4 text-center">
        <h6>Rut: {{ cuenta}}</h6>
    </div>
    <div class="col-4 text-center">
        <div class="col-xs-12">
            <form method='POST' action="cerrarSeccion">
                {% csrf_token %}
                <input class="btn btn-danger btn-lg active" type="submit" value="Logout">
            </form>
        </div>
    </div>
</div>
{% endblock %}

<div class="container">
    <div id="menu_admin" class="justify-content-center">

        <div class="col-12 text-center boton">
            <a href="{% url 'blog:agregarPerro' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Agregar
                Mascota</a>
        </div>

        <div class="col-12 text-center boton">
            <a href="{% url 'blog:listarPerro' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Listar
                Mascota</a>
        </div>


    </div>

</div>

{% endblock content %}