<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
</head>

<body>
    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                <h1>Mantenedor Administrador</h1>

                <h4>{{ cuenta}}</h4>
                <h4>{{ nombre}}</h4>
                <h4>{{ apellidoPaterno}}</h4>

            </div>
            <div class="col-xs-12">
                <a href="{% url 'blog:agregarPerro' %}">Agregar Mascota</a>

            </div>
            <div class="col-xs-12">
                <a href="{% url 'blog:listarPerro' %}">Listar Mascota</a>

            </div>
            <div class="col-xs-12">
                <form method='POST' action="cerrarSeccion">
                    {% csrf_token %}
                    <input type="submit" value="Logout">
                </form>
            </div>

        </div>

    </div>

</body>

</html>