<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Formulario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
    <script src="{% static 'js/rut.js' %}"></script>
    <script src="{% static 'js/cargar_regionComuna2.js' %}"></script>
    <script src="{% static 'js/validacion_form.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/ventanasEmerge.css' %}">
    
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/formulario.css' %}" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Formulario de contacto</h1>




            </div>
            {% if mensaje %}
                <div class="alert success">
                    <span class="closebtn">&times;</span>  
                    <strong>Exito!</strong> {{mensaje}}
                  </div>
            {% endif %}
            {% if error %}
               
                    <div class="alert warning">
                        <span class="closebtn">&times;</span>  
                        <strong>Error!</strong> {{error}}
                    </div>
                
            {% endif %}
        </div>
        <form method='post'  >
                {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-6">
                    
                        <div class="form-group">
                            <label for="email">Correo Electrónico</label>
                            <input name="email" type="email" class="form-control" id="email" placeholder="ejemplo@gmail.com"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="run">Run</label>
                            <input name="run" type="text" class="form-control rut" id="run" placeholder="11111111-1"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Jose Miguel Gonzalez Perez"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="segundoNombre">Segundo Nombre</label>
                            <input name="segundoNombre" type="text" class="form-control" id="segundoNombre" placeholder="Jose Miguel Gonzalez Perez"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="apellidoPaterno">Apellido Paterno</label>
                            <input name="apellidoPaterno" type="text" class="form-control" id="apellidoPaterno" placeholder="Jose Miguel Gonzalez Perez"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="apellidoMaterno">Apellido Materno</label>
                            <input name="apellidoMaterno" type="text" class="form-control" id="apellidoMaterno" placeholder="Jose Miguel Gonzalez Perez"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="fch_nac">Fecha de Nacimiento</label>
                            <input name="fch_nac" type="date" class="form-control" id="fch_nac" max="2000-12-31" required>
                        </div>

                        <div class="form-group">
                            <label for="fono">Fono</label>
                            <input name="fono" type="tel" class="form-control" id="fono" placeholder="123456789" required>
                        </div>

                        <div class="form-group">
                            <label for="region">Región</label>
                            <select name="region" class="form-control" id="region" required>

                            </select>
                        </div>

                        <div class="form-group">
                            <label for="comuna">Comuna</label>
                            <select name="comuna" class="form-control" id="comuna" required>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="vivienda">Tipo de Vivienda</label>
                            <select name="vivienda" class="form-control" id="vivienda" required>
                                <option  selected>Seleccione</option>
                                <option >Casa con patio grande</option>
                                <option >Casa con patio pequeño</option>
                                <option >Casa sin patio</option>
                                <option >Departamento</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="pw1">Contraseña</label>
                            <input name="pw1" type="password" class="form-control" id="pw1" minlength="4" required>
                        </div>

                        <div class="form-group">
                            <label for="pw2">Repetir Contraseña</label>
                            <input name="pw2" type="password" class="form-control" id="pw2" minlength="4" required>
                        </div>

                        

                    

                        <button id="btn_campana" type="submit" class="btn btn-primary">Enviar</button>
                </div>
        
            </div>
        </form>    
    </div>
    
    <script src="{% static 'js/mensajeEmergente.js' %}"></script>
</body>

</html>