<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Mis Perris</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />  
	<link rel="stylesheet" type="text/css" href="{% static 'css/diseno.css' %}" />
</head>

<body>

	<div class="container-fluid limpiar">
		<!-- CABECERA prueba prueba prueba -->
		<header>
			<div class="row  limpiar">
				<div id="logo" class="col-md-6 limpiar ">
					<img id="logoPerro" src="{% static 'img/logo.png' %}" alt="logo">
				</div>
				<div class="col-md-6  limpiar">
					<nav class="row limpiar">
						<div class="col-xs-12 col-md-auto ajusteLink">
							<a href="#">Inicio</a>
						</div>
						<div class="col-xs-12 col-md-auto ajusteLink">
							<a href="#">Quienes Somos</a>
						</div>
						<div class="col-xs-12 col-md-auto  ajusteLink">
							<a href="#">Servicios</a>
						</div>
						<div class="col-xs-12 col-md-auto ajusteLink">
							<a href="{% url 'blog:formulario' %}">Registro de usuario</a>
						</div>
						<div class="col-xs-12 col-md-auto ajusteLink">
							<a href="{% url 'blog:inicioSesion' %}">Inicio Sesion</a>
						</div>
						
					</nav>
				</div>
			</div>
			<div class="row container-fluid limpiar">
				<div id="demo" class="carousel slide" data-ride="carousel">

					<!-- Indicators -->
					<ul class="carousel-indicators">
						<li data-target="#demo" data-slide-to="0" class="active"></li>
						<li data-target="#demo" data-slide-to="1"></li>
						<li data-target="#demo" data-slide-to="2"></li>
					</ul>

					<!-- The slideshow -->
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="d-block w-100 imagenAjusteCarrosel" src="{% static 'imagenes/adoptados/Apolo.jpg' %}" alt="Perro Apolo" style="width:100%">
							<div class="carousel-caption">
								<p class="colores">"Estamos felices de tener a Tom en casa.<br> Es un super fiel compañero."</p>
							</div>
						</div>
						<div class="carousel-item">
							<img class="d-block w-100 imagenAjusteCarrosel" src="{% static 'imagenes/adoptados/Duque.jpg' %}" alt="Perro Duque" style="width:100%">
							<div class="carousel-caption">

								<p class="colores">"Estamos felices"</p>
							</div>
						</div>
						<div class="carousel-item">
							<img class="d-block w-100 imagenAjusteCarrosel" id="hrr" src="{% static 'imagenes/adoptados/Tom.jpg' %}" alt="Perro Tom" style="width:100%">
							<div class="carousel-caption">

								<p class="colores">"Estamos felices"</p>
							</div>
						</div>
					</div>
					<!-- Left and right controls -->
					<a class="carousel-control-prev" href="#demo" data-slide="prev">
						<span class="carousel-control-prev-icon"></span>
					</a>
					<a class="carousel-control-next" href="#demo" data-slide="next">
						<span class="carousel-control-next-icon"></span>
					</a>
				</div>
			</div>

			<div id="sociales" class="row limpiar">
				<div class="col-md-4 d-none d-md-block">
					<p>+56998765431</p>
				</div>
				<div class="col-md-4 d-none d-md-block text-center">
					<p>Rescate y adopción de perros callejeros</p>
				</div>
				<div class="col-md-4">
					<div class="row limpiar">
						<div class="medida col-md-auto">
							<a href="#"><img src="{% static 'img/facebook.png' %}" alt="logo facebook"></a>
						</div>
						<div class="medida  col-md-auto">
							<img src="{% static 'img/google.png' %}" alt="logo google">
						</div>
						<div class="medida col-md-auto">
							<img src="{% static 'img/instagram.png' %}" alt="logo instagram">
						</div>
						<div class="medida  col-md-auto">
							<img src="{% static 'img/mail.png' %}" alt="logo mail">
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- CONTENIDO -->
		<section id="contenido" class="row">
			<article id="articulo1" class="col-12 col-md-6">
				<h1>RESCATE</h1>
				<h4>ETAPA UNO</h4>
				<hr>
				<p>Recatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los preparamos para buscar un hogar.</p>
				<div>
					<img src="{% static 'img/rescate.jpg' %}" alt="rescatados">
				</div>
			</article>

			<article id="acticulo2" class="col-12 col-md-6">
				<div>
					<img src="{% static 'img/crowfunding.jpg' %}" alt="crowfunding">
				</div>
				<h1>CROWDFUNDING</h1>
				<h4>FINANCIAMIENTO</h4>
				<hr>
				<p>Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que realizamos para obtener un financiamiento y poder  seguir ayudando.</p>
				<a class="botonCampanna" href="#">CAMPAÑAS</a>
			</article>
		</section>
		
		<!-- COLLAGE -->
		<section id="collage">
				<div class="row fila8 limpiar">
					<div class="medida2 col-md-4 colorBlue columna">
						<a href="#ventana1" data-toggle="modal"><img id="perro1" class="ajusteImagen" src="{% static 'imagenes/rescatados/oso.jpg' %}" alt="oso perro" style="width: 95%;"></a>
						<a href="#ventana2" data-toggle="modal"><img id="perro2" class="ajusteImagen" src="{% static 'imagenes/rescatados/maya.jpg' %}" alt="maya perro" style="width: 90%;"></a>
						<a href="#ventana3" data-toggle="modal"><img id="perro3" src="{% static 'imagenes/rescatados/wifi.jpg' %}" alt="wifi perro" style="width: 90%;"></a>
					</div>
					<div class="medida2 col-md-4 colorGreen">
						<a href="#ventana4" data-toggle="modal"><img id="perro4" class="ajusteImagen almedio" src="{% static 'imagenes/rescatados/chocolate.jpg' %}" alt="perro chocolate" style="width: 82%;"></a>
						<a href="#ventana5" data-toggle="modal"><img id="perro5" class="almedio" src="{% static 'imagenes/rescatados/pexel.jpg' %}" alt="perro pexel" style="width: 82%;"></a>
					</div>
					<div class="medida2 col-md-4 colorGray">
						<a href="#ventana6" data-toggle="modal"><img id="perro6" class="ajusteImagen" src="{% static 'imagenes/rescatados/bigotes.jpg' %}" alt="perro bigotes" style="width: 95%;"></a>
						<a href="#ventana7" data-toggle="modal"><img id="perro7" src="{% static 'imagenes/rescatados/luna.jpg' %}" alt="perro luna" style="width: 95%;"></a>
					</div>
				</div>
	
				<div class="modal fade" id="ventana1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<div class="modal-title">
									<h2>Oso</h2>
								</div>
								
								
							</div>
							
							<div class="modal-body">
								 
									<img id="perro1" class="ajusteImagen" src="{% static 'imagenes/rescatados/oso.jpg' %}" alt="oso perro" style="width: 95%;">
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus maiores rerum pariatur, quaerat expedita id sequi,
										 nihil atque reprehenderit exercitationem ab dolores molestiae. Repellendus accusamus consectetur sunt, cum maiores impedit?
									</p>
							</div>
							
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>	
						   </div>
						</div>
					</div>
				</div>
	
				<div class="modal fade" id="ventana2">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<div class="modal-title">
										<h2>Maya</h2>
									</div>
									
									
								</div>
								
								<div class="modal-body">
									 
										<img id="perro2" class="ajusteImagen" src="{% static 'imagenes/rescatados/maya.jpg' %}" alt="maya perro" style="width: 90%; padding-left: 10%">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus maiores rerum pariatur, quaerat expedita id sequi,
											 nihil atque reprehenderit exercitationem ab dolores molestiae. Repellendus accusamus consectetur sunt, cum maiores impedit?
										</p>
								</div>
								
								<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>	
								</div>
							</div>
						</div>
					</div>
				
				<div class="modal fade" id="ventana3">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<div class="modal-title">
											<h2>Wifi</h2>
										</div>
										
										
									</div>
									
									<div class="modal-body">
										 
											<img id="perro3" src="{% static 'imagenes/rescatados/wifi.jpg' %}" alt="wifi perro" style="width: 90%; padding-left: 10%">
											<p>
												Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus maiores rerum pariatur, quaerat expedita id sequi,
												 nihil atque reprehenderit exercitationem ab dolores molestiae. Repellendus accusamus consectetur sunt, cum maiores impedit?
											</p>
									</div>
									
									<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>	
									   </div>
								</div>
							</div>
				</div>
	
				<div class="modal fade" id="ventana4">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<div class="modal-title">
										<h2>Chocolate</h2>
									</div>
									
									
								</div>
								
								<div class="modal-body">
									 
										<img id="perro4" class="ajusteImagen almedio" src="{% static 'imagenes/rescatados/chocolate.jpg' %}" alt="perro chocolate" style="width: 82%;">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus maiores rerum pariatur, quaerat expedita id sequi,
											 nihil atque reprehenderit exercitationem ab dolores molestiae. Repellendus accusamus consectetur sunt, cum maiores impedit?
										</p>
								</div>
								
								<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>	
								   </div>
							</div>
						</div>
				</div>
	
				<div class="modal fade" id="ventana5">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<div class="modal-title">
										<h2>Pexel</h2>
									</div>
									
									
								</div>
								
								<div class="modal-body">
									 
										<img src="{% static 'imagenes/rescatados/pexel.jpg' %}" alt="perro pexel" style="width: 80%; padding-left:18%">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus maiores rerum pariatur, quaerat expedita id sequi,
											 nihil atque reprehenderit exercitationem ab dolores molestiae. Repellendus accusamus consectetur sunt, cum maiores impedit?
										</p>
								</div>
								
								<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>	
								   </div>
							</div>
						</div>
				</div>
	
				
				<div class="modal fade" id="ventana6">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<div class="modal-title">
										<h2>Bigotes</h2>
									</div>
									
									
								</div>
								
								<div class="modal-body">
									 
										<img id="perro6" class="ajusteImagen" src="{% static 'imagenes/rescatados/bigotes.jpg' %}" alt="perro bigotes" style="width: 95%;">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus maiores rerum pariatur, quaerat expedita id sequi,
											 nihil atque reprehenderit exercitationem ab dolores molestiae. Repellendus accusamus consectetur sunt, cum maiores impedit?
										</p>
								</div>
								
								<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>	
								   </div>
							</div>
						</div>
				</div>
	
				<div class="modal fade" id="ventana7">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<div class="modal-title">
										<h2>Luna</h2>
									</div>
									
									
								</div>
								
								<div class="modal-body">
									 
										<img id="perro7" src="{% static 'imagenes/rescatados/luna.jpg' %}" alt="perro luna" style="width: 95%;">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus maiores rerum pariatur, quaerat expedita id sequi,
											 nihil atque reprehenderit exercitationem ab dolores molestiae. Repellendus accusamus consectetur sunt, cum maiores impedit?
										</p>
								</div>
								
								<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>	
								   </div>
							</div>
						</div>
				</div>
			</section>
		<!-- PIE DE PAGINA-->
		<footer>
			<h5>Desarrollo web y movil</h5>
			<p>
				<a href="http://jigsaw.w3.org/css-validator/check/referer">
					<img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="¡CSS Válido!" />
				</a>
			</p>
		</footer>
	</div>
</body>

</html>

<section id="collage">
	<div class="row fila8 limpiar">
		<div class="medida2 col-md-4 colorBlue columna">
			<a href="#ventana1" data-toggle="modal"><img id="perro1" class="ajusteImagen" src="{% static 'imagenes/rescatados/oso.jpg' %}"
				 alt="oso perro" style="width: 95%;"></a>
			<a href="#ventana2" data-toggle="modal"><img id="perro2" class="ajusteImagen" src="{% static 'imagenes/rescatados/maya.jpg' %}"
				 alt="maya perro" style="width: 90%;"></a>
			<a href="#ventana3" data-toggle="modal"><img id="perro3" src="{% static 'imagenes/rescatados/wifi.jpg' %}" alt="wifi perro"
				 style="width: 90%;"></a>
		</div>
		<div class="medida2 col-md-4 colorGreen">
			<a href="#ventana4" data-toggle="modal"><img id="perro4" class="ajusteImagen almedio" src="{% static 'imagenes/rescatados/chocolate.jpg' %}"
				 alt="perro chocolate" style="width: 82%;"></a>
			<a href="#ventana5" data-toggle="modal"><img id="perro5" class="almedio" src="{% static 'imagenes/rescatados/pexel.jpg' %}"
				 alt="perro pexel" style="width: 82%;"></a>
		</div>
		<div class="medida2 col-md-4 colorGray">
			<a href="#ventana6" data-toggle="modal"><img id="perro6" class="ajusteImagen" src="{% static 'imagenes/rescatados/bigotes.jpg' %}"
				 alt="perro bigotes" style="width: 95%;"></a>
			<a href="#ventana7" data-toggle="modal"><img id="perro7" src="{% static 'imagenes/rescatados/luna.jpg' %}" alt="perro luna"
				 style="width: 95%;"></a>
		</div>
	</div>

	<div class="modal fade" id="ventana1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-title">
						<h2>Oso</h2>
					</div>


				</div>

				<div class="modal-body">

					<img id="perro1" class="ajusteImagen" src="{% static 'imagenes/rescatados/oso.jpg' %}" alt="oso perro" style="width: 95%;">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus maiores rerum pariatur, quaerat expedita id
						sequi,
						nihil atque reprehenderit exercitationem ab dolores molestiae. Repellendus accusamus consectetur sunt, cum
						maiores impedit?
					</p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="ventana2">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-title">
						<h2>Maya</h2>
					</div>


				</div>

				<div class="modal-body">

					<img id="perro2" class="ajusteImagen" src="{% static 'imagenes/rescatados/maya.jpg' %}" alt="maya perro" style="width: 90%; padding-left: 10%">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus maiores rerum pariatur, quaerat expedita id
						sequi,
						nihil atque reprehenderit exercitationem ab dolores molestiae. Repellendus accusamus consectetur sunt, cum
						maiores impedit?
					</p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="ventana3">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-title">
						<h2>Wifi</h2>
					</div>


				</div>

				<div class="modal-body">

					<img id="perro3" src="{% static 'imagenes/rescatados/wifi.jpg' %}" alt="wifi perro" style="width: 90%; padding-left: 10%">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus maiores rerum pariatur, quaerat expedita id
						sequi,
						nihil atque reprehenderit exercitationem ab dolores molestiae. Repellendus accusamus consectetur sunt, cum
						maiores impedit?
					</p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="ventana4">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-title">
						<h2>Chocolate</h2>
					</div>


				</div>

				<div class="modal-body">

					<img id="perro4" class="ajusteImagen almedio" src="{% static 'imagenes/rescatados/chocolate.jpg' %}" alt="perro chocolate"
					 style="width: 82%;">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus maiores rerum pariatur, quaerat expedita id
						sequi,
						nihil atque reprehenderit exercitationem ab dolores molestiae. Repellendus accusamus consectetur sunt, cum
						maiores impedit?
					</p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="ventana5">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-title">
						<h2>Pexel</h2>
					</div>


				</div>

				<div class="modal-body">

					<img src="{% static 'imagenes/rescatados/pexel.jpg' %}" alt="perro pexel" style="width: 80%; padding-left:18%">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus maiores rerum pariatur, quaerat expedita id
						sequi,
						nihil atque reprehenderit exercitationem ab dolores molestiae. Repellendus accusamus consectetur sunt, cum
						maiores impedit?
					</p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="ventana6">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-title">
						<h2>Bigotes</h2>
					</div>


				</div>

				<div class="modal-body">

					<img id="perro6" class="ajusteImagen" src="{% static 'imagenes/rescatados/bigotes.jpg' %}" alt="perro bigotes"
					 style="width: 95%;">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus maiores rerum pariatur, quaerat expedita id
						sequi,
						nihil atque reprehenderit exercitationem ab dolores molestiae. Repellendus accusamus consectetur sunt, cum
						maiores impedit?
					</p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="ventana7">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-title">
						<h2>Luna</h2>
					</div>


				</div>

				<div class="modal-body">

					<img id="perro7" src="{% static 'imagenes/rescatados/luna.jpg' %}" alt="perro luna" style="width: 95%;">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus maiores rerum pariatur, quaerat expedita id
						sequi,
						nihil atque reprehenderit exercitationem ab dolores molestiae. Repellendus accusamus consectetur sunt, cum
						maiores impedit?
					</p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</section>